</main>

    <br><br>
    <center><a href="/"><img src="../images/home.png" width="100px"></a></center>
    <br><br>

    <footer>

        <div class="card mb-3">
    <img src="../images/flowers.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Grandes Pintores</h5>
        <p class="card-text">Página elaborada por un pequeño artista en crecimiento.</p>
        <p class="card-text"><small class="text-muted">©  Copyright:  {{autor}} - {{year}}</small></p>

    </div>
    </div>

    </footer>

</body>
</html>