{{> header}}

  <div class="titulo">Carlos Bazan</div>
  
  <div class="texto">
    <center><img style="float: center; margin: 10px 10px 10px 10px;" src="../images/carlos.jpg" width="800"></center><br>
    Carlos Bazán Ramos, nació en San Cristóbal Suchixtlahuaca, Oaxaca es un pintor y muralista mixteco que acompañará la promoción de la serie “Party of five”. Nueva serie del canal de televisión Freeform, propiedad de Disney.
    <br><br>
    Su experiencia con el arte comenzó con el graffiti cuando se encontraba en secundaria. En bachillerato decidió tomar clases de pintura con el artista español Enrique Martorell, en la Casa de la Cultura de San Pedro y San Pablo Teposcolula.
    <br><br>
    Entre su más reciente trabajo, se encuentra la obra titulada “Siempre regresaré al lugar que me vio nacer”. El cual fue realizado en el Centro Mexicano de la Tortuga en Mazunte, Oaxaca.
    <br><br>
    Con tan solo 26 años de edad, Bazán Ramos se encuentra demostrando su talento. Por lo que esta oportunidad de trabajar con Disney se ha convertido en la más grande de su carrera. 
  </div>

  <br>

<center>
    
      <div class="container">

        <div class="col-md-12">
          <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
              <li data-target="#demo" data-slide-to="4"></li>
            </ul>
    
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../images/c1.jpg" height="500">
            </div>
            <div class="carousel-item">
              <img src="../images/c2.jpg" height="500">
            </div>
            <div class="carousel-item">
              <img src="../images/c3.jpg" height="500">
            </div>
            <div class="carousel-item">
              <img src="../images/c4.jpg" height="500">
            </div>
            <div class="carousel-item">
              <img src="../images/c5.jpg" height="500">
            </div>
          </div>

    <div id="botones" style="font-size: 60px; color: black;">
        <a class="carousel-control-prev" href="#demo"  data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo"  data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
  </div>
    </center>

  {{> footer}}